body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fondonav{
  background-color: #052c65;
}

.linkfacebook {
  color: #000;
  text-decoration: none;
}

.navegacion{
  display: none;
}

.divisiontablas{
  border-top: solid 3px black ;
  padding-bottom: 40px;
}

.bordebottom{
  border-bottom: solid 1px black ;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.cardbordertop{
  box-shadow: 10px 10px #888888;
  
}

.imagenmax{
  max-width: 400px !important;

}
@media(max-width:575px){

  .cardbordertop{
    width: 90% !important;
  }
  
  .buttonfecha{
    display:block !important;
    text-align: center ;
    
    
  }
  .boton{
    border-radius: 0px !important;
    margin: 3px !important;
  }
}

